<%= content_for :title do %>
    <title>Create An Article!</title>
<% end %>

<%= content_for :body do %>
<h3>Create a New Article:</h3>
<h6>Current Day: <%= Time.now.strftime("%b %Y") %> </h6>
<br>
    <%= form_for @article, url: admin_articles_path do |f| %>
     <div class="form-group">
            <label for="title">Please Enter a Title:</label>
            <input type="text" class="form-control" id="title" name="title" aria-describedby="muted_desc" placeholder="New Title...">
            <small id="muted_desc" class="form-text text-muted">You can change whenever you want...</small>
        </div>
        <div class="form-group">
                <select class="custom-select" name="category_id">
                        <option selected> Please Choose a Category </option>
                        <option value="1">Politics</option>
                        <option value="2">Economy</option>
                        <option value="3">Food</option>
                        <option value="4">Magazine</option>
                </select>
                <!-- <div class="invalid-feedback">Example invalid custom select feedback</div> -->
        </div>
        <br>
        <div class="form-group">
            <label for="content">Article Content:</label>
            <input id="x" type="hidden" name="content" class="form-control">
            <trix-editor input="x"></trix-editor>
        </div>  
        
        <button type="submit" class="btn btn-warning btn-sm">Create Your Article!</button>
        <br>
        <br>
    <% end %>

<% end %>