<%= content_for :title do %>
    <title> MyBlog! </title>
<% end %>
<%= content_for :body do %>
    <h1 class= "d-flex justify-content-center" > Basic Blog Website Project. Based on R A I L S! </h1>
    <a href="https://github.com/emskaplann" target="blank_"><p class="row justify-content-end" style="padding-right: 174px;"> by Emirhan Kaplan</p></a>
    <br />
    <br />
    <br />
    <div class="text-center">
        <a href="https://rubyonrails.org/" target="_blank" > <img src="images/rails.png" class="float-left" width="600" height="275"> </a>
        <a href="https://getbootstrap.com/" target="_blank" > <img src="images/bootstrap.png" class="float-right" width="300" height="300"> </a>

    </div>
<% end %>